.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#main {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png");
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: cover; */
    background-attachment: fixed;
}
